body {
  font-family: arial;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

a {
  text-align: center;
}

#homelink {
  text-align: center;
}

#explanation {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
